[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
python-dotenv = "*"
scikit-learn = "*"
install = "*"
hydra-core = "*"
pytest = "*"
faker = "*"
fastapi = "*"
uvicorn = "*"
boto3 = "*"

[dev-packages]
cookiecutter = "*"
pandas-profiling = "*"

[requires]
python_version = "3.9"
